html {
  height:100%;
  overflow:hidden;
}

body{
    color: #fff;
    margin: 0;
    padding: 0;
    background:#333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: consolas;
    perspective: 0px;
    transform-style: preserve-3d;
    text-align: center;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    perspective: 1px;
    transform-style: preserve-3d;
}
* {
  color:#fff;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


/* nav bar with social media */
@import url('https://fonts.googleapis.com/css?family=Lato');

.socialMenu {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.socialMenu:hover {
  pointer-events: all;
}
.label {
  display: inline-block;
  cursor: pointer;
  pointer-events: all;
}
.spacer {
  display: inline-block;
  width: 50px;
  margin-left: -15px;
  margin-right: 20px;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
}
.spacer:before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #ffffff;
  height: 1px;
  width: 0%;
  transition: width 0.25s ease;
  transition-delay: 0.7s;
}
.item {
  position: relative;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  top: 10px;
  opacity: 0;
  transition: opacity 0.5s ease, top 0.5s ease;
  transition-delay: 0;
}
span {
  transition: color 0.5s ease;
}
.item:hover span {
  color: #d4ff00;
}
.socialMenu:hover .spacer:before {
  width: 100%;
  transition-delay: 0s;
}
.socialMenu:hover .item {
  opacity: 1;
  top: 0px;
}
.item:nth-child(1) {
  transition-delay: 0.45s;
}
.item:nth-child(2) {
  transition-delay: 0.4s;
}
.item:nth-child(3) {
  transition-delay: 0.35s;
}
.item:nth-child(4) {
  transition-delay: 0.3s;
}
.item:nth-child(5) {
  transition-delay: 0.25s;
}
.item:nth-child(6) {
  transition-delay: 0.2s;
}
.item:nth-child(7) {
  transition-delay: 0.15s;
}
.item:nth-child(8) {
  transition-delay: 0.1s;
}
.item:nth-child(9) {
  transition-delay: 0.05s;
}
.item:nth-child(10) {
  transition-delay: 0s;
}
.socialMenu:hover .item:nth-child(1) {
  transition-delay: 0.25s;
}
.socialMenu:hover .item:nth-child(2) {
  transition-delay: 0.3s;
}
.socialMenu:hover .item:nth-child(3) {
  transition-delay: 0.35s;
}
.socialMenu:hover .item:nth-child(4) {
  transition-delay: 0.4s;
}
.socialMenu:hover .item:nth-child(5) {
  transition-delay: 0.45s;
}
.socialMenu:hover .item:nth-child(6) {
  transition-delay: 0.5s;
}
.socialMenu:hover .item:nth-child(7) {
  transition-delay: 0.55s;
}
.socialMenu:hover .item:nth-child(8) {
  transition-delay: 0.6s;
}
.socialMenu:hover .item:nth-child(9) {
  transition-delay: 0.65s;
}
.socialMenu:hover .item:nth-child(10) {
  transition-delay: 0.7s;
}

/*parallax*/
.intro {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
    top: 60%;
}

.intro h1 {
    margin-top: -100px;
}
.intro, .intro:before {
    background: 50% 50% / cover;
}

.intro:before {
    position: absolute;
    bottom: 0;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    display: block;
    background-image: url(https://i.imgur.com/iuiH5Cu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center;
    transform-origin: center center 0;
    transform:  translateZ(-1px) scale(2.6);
    z-index: -1;
    height: 100%;
}

.contentParallax {
  margin:200px auto;
  width:50%;
  position: absolute;
  z-index: 1;
  padding:100px 0
  top: 50%;
}
.containerParallax {
  max-width:800px;
  margin:0 auto
}

/* typewriter*/
.typewriter{
  position: absolute;
}

/* Hover shit*/
.container{
    width: 1000px;
    position: absolute;
		top: 10px;
    display: flex;
    justify-content: space-between;
}

.container .card{
    position: relative;
    cursor: pointer;
}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1{
    background: #ff0057;
    transform: translateY(0);
}

.container .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content img{
    max-width: 100px;
}

.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}
