body{
  padding: 0;
  margin: 0;
  font:1em;
}

.content{
  padding:30px;
}

.nav-main{
  width:100%;
  background-color:#222;
  height:70px;
  color:#fff;
}

.logo{
  float:left;
  height:40px;
  padding:15px 30px;
  font-size:1.4em;
  line-height:40px;
}

.nav-main > ul {
  margin:0;
  padding:0;
  float:left;
  list-style-type:none;
}

.nav-main > ul > li {
  float: left;
}

.nav-item {
  display:inline-block;
  padding:15px 20px;
  height:40px;
  line-height:40px;
  color:#fff;
  text-decoration:none;
}

.nav-item:hover {
  background-color:#444;
}

.nav-content {
  position:absolute;
  top:70px;
  overflow:hidden;
  background-color:#222;
  max-height:0px;
}

.nav-content a {
  color:#fff;
  text-decoration:none;
}

.nav-content a:hover {
  text-decoration:underline;
}

.nav-sub {
  padding:20px;
}

.nav-sub ul {
  padding:0;
  margin:0;
  list-style-type:none;
}

.nav-sub ul li a {
  display:inline-block;
  padding:5px 0;
}

.nav-item:focus {
  background-color:#444;
}

.nav-item:focus ~ .nav-content {
  max-height:400px;
  -webkit-transition:max-height 0.4s ease-in;
  -moz-transition:max-height 0.4s ease-in;
  transition:max-height 0.4s ease-in;
}

.middle{
  position: absolute;
  transform: translateY(52%);
  width: 100%;
  text-align: center;
}

.btn{
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #1f3a93;
  overflow: hidden;
  position: relative;
}
.btn i{
  line-height: 90px;
  font-size: 26px;
  transition: 0.2s linear;
}
.btn:hover i{
  transform: scale(1.3);
  color: #f1f1f1;
}
.btn::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #1f3a93;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.btn:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 10%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}
